.idea/
.temp/
asd.txt
asdas.txt
bats_R1.fastq
bats_R2.fastq
logs/
software/FLASH-1.2.11/combine_reads.o
software/FLASH-1.2.11/flash
software/FLASH-1.2.11/flash.o
software/FLASH-1.2.11/iostream.o
software/FLASH-1.2.11/read_io.o
software/FLASH-1.2.11/read_queue.o
software/FLASH-1.2.11/read_util.o
software/FLASH-1.2.11/util.o
software/cdhit/cd-hit
software/cdhit/cd-hit-2d
software/cdhit/cd-hit-454
software/cdhit/cd-hit-div
software/cdhit/cd-hit-est
software/cdhit/cd-hit-est-2d
software/cdhit/cdhit-2d.o
software/cdhit/cdhit-454.o
software/cdhit/cdhit-common.o
software/cdhit/cdhit-div.o
software/cdhit/cdhit-est-2d.o
software/cdhit/cdhit-est.o
software/cdhit/cdhit-utility.o
software/cdhit/cdhit.o
software/primer3/src/dpal.o
software/primer3/src/dpal_primer.o
software/primer3/src/format_output.o
software/primer3/src/libdpal.a
software/primer3/src/liboligotm.a
software/primer3/src/libprimer3.a
software/primer3/src/libprimer3.o
software/primer3/src/libthal.a
software/primer3/src/long_seq_tm_test
software/primer3/src/ntdpal
software/primer3/src/ntdpal_main.o
software/primer3/src/ntthal
software/primer3/src/oligotm
software/primer3/src/oligotm.o
software/primer3/src/p3_seq_lib.o
software/primer3/src/primer3_boulder_main.o
software/primer3/src/primer3_core
software/primer3/src/print_boulder.o
software/primer3/src/read_boulder.o
software/primer3/src/thal.o
software/primer3/src/thal_main.o
software/primer3/src/thal_primer.o
software/scripts/__pycache__/
